.red-dot {
    width: 8px;
    height: 8px;
    background-color: tomato;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-cog {
    position: relative;
}

.fa-cog__red-dot {
    position: absolute;
    right: -7px;
    top: -7px;
}

